* {
  box-sizing: border-box;
}

body {
  background-color: #D8D8D8;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin: 0;


}
.container{
  

}
#main-header{
  background-color: #333;
  overflow: hidden;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 28px;
  color: #fcf75e;

}
#nav li{
  display: inline;
   border: 2px solid;
   font-size: 18px;
   border-bottom-left-radius:8px ;
   border-bottom-right-radius:8px ;
   background-color: #fcf75e;
   border-color: #333;

}
#nav ul{
  overflow: hidden;
  margin-top: 0;
 
}
#nav a{
  text-decoration: none;
  color: #333;
  padding-right:10px;
  padding-left: 2px;
}
.currency{
  padding: 40px 0;
 
}
.currency select {
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 16px;
  background: transparent;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-position: right 10px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
}
#currency-one{
  margin-left:38%;
  border-color:#fcf75e;
  background-color: #333;
  color: #fcf75e;
  border: 2px solid;

}
#currency-two{
   margin-left: 38%;
  border-color:#fcf75e;
  background-color: #333;
  color: #fcf75e;
  border: 2px solid;

}
#amount-one{
  padding-top: 10px;
  padding-bottom: 8px;
  border-color: #333;
  border-radius: 6px;
  background-color: #F5F5F5;
}
#amount-two{
  padding-top: 10px;
  padding-bottom: 8px;
  border-color:#333 ;
  border-radius: 6px;
  background-color: #F5F5F5;
}
.btn{
  color:#fcf75e;
  background-color: #333;
  margin-left: 43%;
}
#rate{
  margin-left: 50%;
  color: #333;
}
#text{
  text-align: center;
  color: #333;


}
#hr{
 border-color:#333 ;
 
}
#footer{
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #fcf75e;
  padding-top: 4px;
  padding-bottom: 4px;

}

